////////////////////////////////////////////////////////////////////////
//                              RESET CSS                             //
////////////////////////////////////////////////////////////////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike,  sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, ,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Lato', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

////////////////////////////////////////////////////////////////////////
//                       GLOBAL SETTINGS                              //
////////////////////////////////////////////////////////////////////////


.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.form-group{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	background: none;
	text-decoration: underline;
}

nav {
	background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)) !important;
	margin-bottom: 0 !important;
	a{
		float: left;
		position: relative;
		display: block;
	}
}

#goToTop{
	display: none;
}
.affix {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index:10;
}

.box{
	color: white;
	border: 1px solid #333333;
	background: #333333;
	width: auto;
	height: auto;
	margin-top: 10vh;
	padding: 2vh 4vw;
	font-size: 1.3em;
	.indent{
		padding-left: 2vw;
	}
}

h2{
	font-size: 3em;
	font-weight: bold;
}
p{
	font-size: 1.5em;
	font-weight: 100;
}

////////////////////////////////////////////////////////////////////////
//                               SECTIONS                             //
////////////////////////////////////////////////////////////////////////


#sectionCover{
	margin-top: -10vh;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("../src/typewriter.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-position: top left;
	text-align: center;
	padding-top: 15vh;
	color: black;
	h1{
		font-size: 6em;
		font-weight: bold;
	}
	h3{
		margin-top: 3vh;
		font-size: 3rem;
	}
	h5{
		font-size: 2.5em;
		font-weight: 100;
	}
	.btn{
		height:	14vh;
		color: black;
		margin: 5vh 0 10vh 0;
		padding: 1vh 5vw;
		font-size: 2em;
		line-height: 1.2;
		border: 1px solid #1ba1e2;
		border-radius: 0;
		position: relative;
		overflow: hidden;
		text-align: center;
		transition: all 400ms ease-in-out;
	}
}

#sectionTransition{
	background: #1ba1e2;
	color: white;
	padding: 6vh 0 9vh 10vw;
	height: auto;
	width: auto;
}

#sectionKey{
	padding: 6vh 0 9vh 10vw;
}

#sectionSVG{
	background: #1ba1e2;
	color: white;
	padding: 6vh 0 9vh 10vw;
}

#sectionRendu{
	padding: 6vh 0 9vh 10vw;
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("../src/rendu.png");
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	background-position: top left;
	line-height: 1.5;
	width: auto;
	height: auto;
	li{
		font-size: 1.3em ;
		font-weight: 100;
		margin-left: 2vw;
	}
	.content{
		float: left;
	}
	.object{
		margin-left: 15%;
	}
}

#sectionContact{
	padding: 6vh 0 9vh 10vw;
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("../src/contact.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-position: top left;
	line-height: 1.5;
	width: auto;
	height: auto;
	.btn{
		color: black;
		margin: 5vh 0 10vh 0;
		padding: 1vh 5vw;
		font-size: 2em;
		line-height: 1.0;
		border: 1px solid #ff0097;
		border-radius: 0;
	}
}

.footer{
	width: auto;
	height: auto;
	background: #333333;
	color: white;
	text-align: center;
	p{
		margin-top: 2.5vh;
		font-size: 1.2em;
	}
}
